.button-51 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: 2px solid #e6edf3;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    font-size: 1em;
}

.button-51::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-image: url(ポートフォリオ.img/hedda-.png);
    content: '';
    transition: transform .3s ease;
}

.button-51:hover::after {
    transform: scaleX(1);
}

header {
    display: flex;
    margin: 0 auto;
    position: relative;
}

/* コンテナ */
/* ハンバーガーメニュー */

.btn-flat-vertical-border {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #fcf04d00;
    border-right: solid 4px #fcf04d00;
    color: #000000;
    background: #e3ff4500;
    transition: .4s;
}

.btn-flat-vertical-border:hover {
    background: #eeeb5b44;
    color: #FFF;
}

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    position: relative;
    transition: 0.3s;
    background-color: #ffef72;
}

.original-button::before,
.original-button::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.original-button::before {
    top: -2px;
    left: -2px;
}

.original-button::after {
    top: 2px;
    left: 2px;
}

.original-button:hover::before,
.original-button:hover::after {
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    /* 下線を消す */
    color: #000000;
    /* 好きな色に変更 */
}

.saizu {
    display: flex;
    justify-content: center;
    top: 5%;
}

.title-card {
    position: relative;
    width: 100%;
    max-width: 600px;

}

.title-card img {
    margin-left: 30%;
    width: 100%;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.haikei {
    background-color: #AEE1F9;
}

.card {
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5% auto;
    background-color: #1E3A5F;
}

.heading-3 {
    padding: 0 .4em .2em;
    border-bottom: 3px dotted #ffe666;
    background-color: #ffffff;
    color: #333333;
}

@keyframes fadeIn {
    0% {
        top: 45%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 300px;
}

.hamburger-menu {
    width: 30px;
    height: 22px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none;
}

.line {
    background-color: black;
    height: 4px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
}

.line:nth-of-type(1) {
    top: 0;
}

.line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.line:nth-of-type(3) {
    bottom: 0;
}

.hamburger-menu.active>.line:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburger-menu.active>.line:nth-of-type(2) {
    display: none;
}

.hamburger-menu.active>.line:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    max-height: 80%;
}

.nav-menu.active {
    display: flex;
    animation: fadeIn 0.5s forwards;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}

.j {
    display: flex;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    /* ← 高さは画面の高さの60%（pxより柔軟） */
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 15%;
    /* 親要素の高さに対する50%の位置（中央） */
    left: 35%;
    /* 親要素の幅に対する50%の位置（中央） */
    color: rgb(0, 0, 0);
    padding: 2% 4%;
    /* ← パーセントで余白指定（画面サイズに応じて可変） */
    border-radius: 10px;
    /* ← フォントも画面幅に応じて拡縮する */
    font-size: 3vw;
}

.tooltip-001 {
    display: inline-block;
    position: relative;
}

.tooltip-001>div {
    cursor: pointer;
}

.tooltip-001>span {
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: .5em 1em;
    border-radius: 3px;
    background-color: #f1ff8a;
    color: #ffffff;
    font-size: .7em;
    white-space: nowrap;
    transition: opacity .3s;
}

.tooltip-001>span::before {
    position: absolute;
    top: -6px;
    width: 9px;
    height: 6px;
    background-color: inherit;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: '';
}

.tooltip-001:hover>span {
    visibility: visible;
    opacity: 1;
}

.hero1 {
    position: relative;
    width: 100%;
    height: auto;
    /* ← 高さは画面の高さの60%（pxより柔軟） */
    overflow: hidden;
}

.hero1-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero1-text {
    position: absolute;
    top: 15%;
    /* 親要素の高さに対する50%の位置（中央） */
    left: 35%;
    /* 親要素の幅に対する50%の位置（中央） */
    color: rgb(0, 0, 0);
    padding: 2% 4%;
    /* ← パーセントで余白指定（画面サイズに応じて可変） */
    border-radius: 10px;
    /* ← フォントも画面幅に応じて拡縮する */
    font-size: 3vw;
}

.box-018 {
    position: relative;
    margin: 0 auto;
    padding: 1em calc(1.5em + 9px);
    border-top: 1px solid #d1cd61;
    border-bottom: 1px solid #d1cd61;
    color: #333;
}

.box-018::before,
.box-018::after {
    position: absolute;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% + 20px);
    background-color: #d1cd61;
    content: '';
}

.box-018::before {
    left: 9px;
}

.box-018::after {
    right: 9px;
}

.taitoru {
    position: relative;
    display: inline-block;
}

.taitoru img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.taitoru-text {
    /* 位置の調整 */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 画像周りの背景色 */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 6vw;
    text-align: center;
}

.mokuzi {
    position: relative;
    display: inline-block;
}

.mokuzi img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.mokuzi-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 画像周りの背景色 */
    color: rgb(0, 0, 0);
    font-size: 3vw;
    text-align: center;
    margin-left: -2%;
}

@media screen and (max-width: 768px) {
    .mokuzi-text {
        margin-left: -5%;
    }
}

.sagyou {
    display: flex;

}

.sagyou-text {
    width: 50%;
    margin-left: 30%;
}

@media screen and (max-width: 768px) {
    .sagyou {
        flex-direction: column;
    }

    .sagyou-text {
        margin-left: 30%;
    }

}

.sagyou-text1 {
    margin-left: 20%;
    font-size: 2vw;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sagyou-text1 {
        font-size: 6vw;
        margin-left: -10%;
    }

}

.read-more-1 {
    position: relative;
}

.read-more-1 p {
    position: relative;
    max-height: 100px;
    /* 開く前に見せたい高さを指定 */
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.read-more-1:has(:checked) p {
    max-height: 100vh;
}

.read-more-1 p::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, .9) 0, #fff);
    content: '';
}

.read-more-1:has(:checked) p::after {
    content: none;
}

.read-more-1 label {
    display: flex;
    align-items: center;
    gap: 0 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #4f96f6;
    font-size: .8em;
}

.read-more-1 label:hover {
    color: #8e1a1a;
    text-decoration: underline;
    cursor: pointer;
}

.read-more-1:has(:checked) label {
    display: none;
}

.read-more-1 label::after {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #b6bdc3;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-1 input {
    display: none;
}

@media screen and (max-width: 768px) {
    .aa {
        margin-left: 11%;
    }
}

.ai {
    width: 50%;
    height: auto;
    margin-left: 30%;
}

@media screen and (max-width: 768px) {
    .ai {
        margin-top: 10%;
        margin-left: 25%;
    }
}

.sa-text {
    transform: rotate(20deg);
    margin-left: 65%;
    margin-top: -10%;
    font-size: 6vw;
    writing-mode: vertical-rl;
    /* 縦書き（右→左） */
    text-orientation: upright;
    margin-top: 10%;

}

@media screen and (max-width: 768px) {
    .sa {
        width: 50%;
        height: auto;

    }
}

.tab-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.tab-4>label {
    flex: 1 1;
    order: -1;
    position: relative;
    min-width: 70px;
    padding: .7em 1em;
    background-color: #f2f2f2;
    color: #999;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab-4>label:hover,
.tab-4 label:has(:checked) {
    background-color: #2589d0;
    color: #fff;
}

.tab-4 label:has(:checked)::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 9px;
    background-color: #2589d0;
    content: '';
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.tab-4 input {
    display: none;
}

.tab-4>div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
}

.tab-4 label:has(:checked)+div {
    display: block;
}